.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #6b4f4f;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerLogo {
  cursor: pointer;
  font-size: 28.8px;
  margin: 0;
}

.navLinks {
  display: flex;
  gap: 16px;
}

.navButton {
  background-color: #8b5e5e;
  color: white;
  border: none;
  padding: 12.8px 24px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navButton:hover {
  background-color: #a76d6d;
  transform: scale(1.05);
}
