.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f7f1e3, #ffe0b2);
}

.loginForm {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28.8px;
}

.loginFormTitle {
  text-align: center;
  font-size: 28.8px;
  color: #6b4f4f;
  font-weight: bold;
}

.loginInput {
  width: 100%;
  max-width: 300px;
  padding: 14.4px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  text-align: center;
}

.loginInput:focus {
  border-color: #6b4f4f;
  outline: none;
}

.loginButton {
  width: 100%;
  max-width: 300px;
  background-color: #6b4f4f;
  color: white;
  border: none;
  padding: 14.4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17.6px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.loginButton:hover {
  background-color: #8b5e5e;
  transform: scale(1.02);
}

.alternativeOption {
  text-align: center;
  font-size: 14.4px;
  color: #6b4f4f;
}

.alternativeOption a {
  color: #8b5e5e;
  text-decoration: none;
  font-weight: bold;
}

.alternativeOption a:hover {
  text-decoration: underline;
}
